{% extends 'base.html' %}

{% block title %}DuskyDawn | Contact{% endblock %}

{% block css %}contact{% endblock %}




{% block menu %}

            <ul class="menu_pages">
                <li><a href="../" class="pages">Home</a></li>

                <li><a href="services" class="pages">Services</a></li>

                <li><a href="team" class="pages">Team</a></li>

                <li><a href="pricing" class="pages">Pricing</a></li>

                <li><a href="contact" class="pages active_page">Contact</a></li>
            </ul>

{% endblock %}




{% block main %}Contact{% endblock %}