{% extends 'base.html' %}

{% block title %}DuskyDawn | Pricing{% endblock %}

{% block css %}pricing{% endblock %}




{% block menu %}

            <ul class="menu_pages">
                <li><a href="../" class="pages">Home</a></li>

                <li><a href="services" class="pages">Services</a></li>

                <li><a href="team" class="pages">Team</a></li>
                
                <li><a href="pricing" class="pages active_page">Pricing</a></li>

                <li><a href="contact" class="pages">Contact</a></li>
            </ul>

{% endblock %}




{% block main %}Pricing{% endblock %}