{% extends 'base.html' %}

{% block title %}DuskyDawn | Team{% endblock %}

{% block css %}team{% endblock %}




{% block menu %}

            <ul class="menu_pages">
                <li><a href="../" class="pages">Home</a></li>

                <li><a href="services" class="pages">Services</a></li>

                <li><a href="team" class="pages active_page">Team</a></li>

                <li><a href="pricing" class="pages">Pricing</a></li>

                <li><a href="contact" class="pages">Contact</a></li>
            </ul>


            
            <ul class="menu_itms">
                <li><a href="#all_members" class="menu_itm">All members</a></li>
                <li><a href="#rafi" class="menu_itm  active_itm">Rafi</a></li>
                <li><a href="#osama" class="menu_itm">Osama</a></li>
                <li><a href="#sami" class="menu_itm">Sami</a></li>
                <li><a href="#hassan" class="menu_itm">Hassan</a></li>
            </ul>

{% endblock %}




{% block main %}Team{% endblock %}